* {
  margin: 0;
  padding: 0;
}

div.wrapper {
  width: 100%;
}

@font-face {
  font-family: inter;
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.ttf");
  src: url("../fonts/Inter-Regular.woff");
  src: url("../fonts/Inter-Regular.woff2");
}

html , body{
    scroll-behavior: smooth;
}